# data
backend/hackathon_users.csv

# dependencies
frontend/node_modules

# python
__pycache__/
*.pyc

# Python
venv/
backend/venv/
__pycache__/

# Node
node_modules/
backend/node_modules/

# Env secrets
.env
backend/.env

# OS files
.DS_Store
Thumbs.db
